.hidden {
    display: none;
}

#ApplicationContainer {
    background-color : #32a895;
    max-width: 300px;
    margin: 0 auto;
   margin-top: 40px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*#thankYouContainer {
    background-color : #32a895;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}*/

body {
         
    background-color:black;
    font-family: Arial, sans-serif;
}


.center{
    display:flex;
    justify-content:center;
    align-items:center; 
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select{
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.Gender{
    display: inline-flex;
}

.dob{
    display:inline-flex;
}

/*.label{
    display: inline-block;
    text-align:right;
    position:relative;
    width:100px;
}

.input{
    display: inline-block;
    text-align: left;
    position:fixed;
    left:850px;
    
}*/
